<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css"
        href="/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" type="text/css"
        href="/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css" />
    <link href="/assets/dist/css/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
        type="text/css" />
</head>

<body class="skin-default-light fixed-layout">
    <%- include('./elements/topbar.ejs'); %>
    <%- include('./elements/left-sidebar'); %>

    <%- body %>

    <%- include('./elements/script'); %>
</body>

</html>