<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">
          Quản lý đăng kiểm
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div>
              <div class="d-flex justify-content-between align-item-center sidebar-nav p-0 side-manager">
                <ul id="sidebarnav" class="d-flex">
                  <li>
                    <a class="waves-effect waves-dark" href="/management" aria-expanded="false">
                      <span class="hide-menu">Đã đăng ký </span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="/pay" aria-expanded="false">
                      <span class="hide-menu">Đã thanh toán </span>
                    </a>
                  </li>
                  <li>
                    <a class="waves-effect waves-dark" href="/checked" aria-expanded="false">
                      <span class="hide-menu">Đã đăng kiểm (<%= checked.items.length %>)</span>
                    </a>
                  </li>
                </ul>
                <div class="row">
                  <div class="col-md-10 ">
                    <form action="/checked" method="get" class="myForm">
                      <div class="p-t-15">
                        <div class="input-group" style="width: 240px">
                          <input id="daterange" name="daterange" type="text" placeholder="dd/mm/yyyy - dd/mm/yyyy"
                            autocomplete="off" class="form-control"
                            <% if (typeof daterange != "undefined" && daterange) { %> value="<%= daterange %>"
                            <% } %> />
                          <label class="input-group-btn input-icon" for="daterange">
                            <span class="btn btn-default  m-l-25">
                              <span class="glyphicon glyphicon-calendar">
                                <img src="/assets/images/calendar.svg" />
                              </span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-2 p-t-15 ">
                    <div class="d-flex align-items-center h-100">
                      <a href="/checked">
                        <lord-icon src="https://cdn.lordicon.com/akuwjdzh.json" trigger="hover"
                          style="width:25px;height:30px">
                        </lord-icon>
                      </a>
                    </div>
                  </div>
                </div>


              </div>
              <div class="table-responsive">
                <table id="config-table" class="table display table-bordered table-striped wrap">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th class="column-width">Biển kiểm soát</th>
                      <th>Chủ phương tiện</th>
                      <th>Số điện thoại</th>
                      <th>Ngày đăng kiểm</th>
                      <th>Có hiệu lực đến </th>
                      <th>Ngày đóng phí kỳ tiếp theo</th>
                      <th>Đăng kiểm hộ</th>
                      <th>Địa chỉ nhận xe</th>
                      <th class="column-width">Trạng thái</th>
                      <th> Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% checked.items.map((item, index)=> { %>
                    <tr>
                      <td>
                        <%= index + 1 %>
                      </td>
                      <td class="text-uppercase"><a href="/checked/content/<%= item.id %>">
                          <%= checked.licensePlateConvert(item.license_plate) %>
                        </a>
                      </td>
                      <td>
                        <%= item.owner_name %>
                      </td>
                      <td>
                        <%= item.owner_phone %>
                      </td>
                      <td>
                        <%= checked.dateConvert(new Date(item.date)) %>
                      </td>
                      <td>
                        <%= item.status==1 ? "" : checked.dateConvert(new Date(item.plan_date)) %>
                      </td>
                      <td>
                        <%= item.status==1 ? "" : checked.dateConvert(new Date(item.payment_date)) %>
                      </td>
                      <td>
                        <%if (item.address===null || item.address==="" ) { %>
                        <% } else { %>
                        <img src="/assets/images/checked.svg" />
                        <% } %>
                      </td>
                      <td>
                        <%= item.address %>
                      </td>
                      <td>
                        <% if (item.status==1) { %>
                        <span class='unprocess'>Không đạt</span>
                        <% } else { %>
                        <span class='processed'>Đạt</span>
                        <% } %>
                      </td>
                      <td>
                        <div class="d-flex justify-content-start">
                          <a class="p-r-10" href="/checked/edit/<%= item.id %>">
                            <img src="/assets/images/Edit.svg" title="Chỉnh sửa" />
                          </a>
                          <br />
                          <div>
                            <button type="button" class="btn p-0" data-toggle="modal"
                              data-target="#exampleModal<%= item.id %>" data-id="<%= item.id %>">
                              <img src="/assets/images/Delete.svg" title="Xóa" />
                            </button>
                            <div class="modal fade" id="exampleModal<%= item.id %>" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">LƯU Ý</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    XÁC NHẬN XÓA THÔNG TIN ĐĂNG KIỂM của xe
                                    <mark>
                                      <%= item.license_plate %>
                                    </mark>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <a href="/checked/delete/<%= item.id %>"> Xác nhận</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <a href="/checked/delete/<%= item.id %>"><img src="/assets/images/Delete.svg"
                              title="Xóa" /></a> -->
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script src="https://cdn.lordicon.com/qjzruarw.js"></script>